---
import Layout from '../layouts/Layout.astro';
---

<Layout title="astro-cube">
  <main>
    <article class="region prose wrapper hero">
      <h1>Icari Media</h1>

      <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>Icari</h3>
          <p>
            Icari Media' name is a play on the name Icarus. Just like Icarus who
            flew as high as he could, we want to transcend boundaries and soar
            to echelons that others have never breached.
          </p>
        </li>

        <li class="flow">
          <h3>About Us</h3>
          <p>
            Offering a multitude of media services and cutting-edge solutions,
            our agency focuses on producing compelling content that resonates
            with target audiences.
          </p>
        </li>

        <li class="flow">
          <h3>Video Production</h3>
          <p>
            We provide full-fledged video production from pre to post. From
            ideating your video and executing your vision, to post-production
            and final delivery, our experienced team prioritise the needs of
            clients and delivering high-quality content.
          </p>
        </li>

        <li class="flow">
          <h3>Other Services</h3>
          <p>
            We also offer copywriting and scripting, bolstered by other in-house
            competencies such as marketing, SEO, UX, AR, media buying,
            illustration and animation.
          </p>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">Get in touch.</footer>
  </main>
</Layout>
